*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial,sans-serif;
    background:#f4f4f4;
    color:#333;
    line-height:1.6;
}

header{
    background:#1f4fa3;
    color:white;
    padding:20px;
     display:flex;

    justify-content:space-between;

    align-items:center;
}

header h1{
    font-size:clamp(1.5rem,3vw,2.5rem);
}

nav ul{
    list-style:none;

    display:flex;

    gap:25px;

    align-items:center;
}

nav a{
    text-decoration:none;
    color:white;
    font-weight:bold;
}

nav a:hover{
    color:#ffd700;
}

#hero{

    min-height:40vh;

    display:flex;

    flex-direction:column;

    justify-content:center;

    align-items:center;

    text-align:center;

}
#hero h1{
    margin-bottom:15px;
}

#hero p{
    margin-bottom:20px;
}

button{
    margin-top:20px;
    padding:10px 20px;
    border:none;
     border-radius:5px;
    background:#1f4fa3;
    color:white;
    cursor:pointer;
}

button:hover{
    background:#163d80;
}

.stats{
    display:flex;

    justify-content:space-around;

    align-items:center;

    background:#ffffff;

    padding:25px;

    margin:30px;

    border-radius:10px;

    box-shadow:0 2px 8px rgba(0,0,0,.15);
}

.stat-item{
    text-align:center;
}

.stat-item h3{
    color:#1f4fa3;
    font-size:2rem;
}

.stat-item p{
    margin-top:8px;
}

#courses{
    padding:40px 20px;
}

#courses h2{
    margin-bottom:20px;
}


.course-card{
    background:white;

    padding:20px;

    border:1px solid #ddd;

    border-radius:10px;

    box-shadow:0 2px 6px rgba(0,0,0,0.15);

    min-height:180px;

    align-self:stretch;
}
.course-grid{
    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));

    gap:20px;

    margin-top:20px;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:15px;
}
@media (min-width:768px){

    .course-grid{
        grid-template-columns:repeat(2,1fr);
    }

    header{
        padding:20px 40px;
    }

}

@media (min-width:1024px){

    .course-grid{
        grid-template-columns:repeat(3,1fr);
    }

    #hero{
        padding:100px 20px;
    }

}

#search-courses{
    width:100%;
    padding:12px;
    margin:20px 0;
    font-size:16px;
    border:1px solid #ccc;
    border-radius:6px;
}

#sort-btn{
    margin-bottom:20px;
}

#selected-course{
    margin-top:20px;
    font-size:18px;
    font-weight:bold;
    color:#1f4fa3;
}

#total-credits{
    margin-top:15px;
    font-size:18px;
    font-weight:bold;
}
#loading{
    font-size:20px;
    font-weight:bold;
    color:#1f4fa3;
    margin:20px 0;
}
#notifications{
    margin:40px 20px;
}

.notification-card{
    background:white;
    padding:15px;
    margin-bottom:15px;
    border-left:5px solid #1f4fa3;
    border-radius:8px;
    box-shadow:0 2px 5px rgba(0,0,0,.15);
}

#loading-posts{
    color:#1f4fa3;
    font-weight:bold;
    margin:15px 0;
}   